<% include partials/header %>

<div class="container">
	<h5>Rate = <%= destination.price %></h5>
	<form action="/" method="POST">
		<button>Confirm booking!</button>
	</form>
</div>

<% include partials/footer %>