<% include partials/header %>
<div class="container">
<header class="jumbotron">
  <h1>Travel Test App!!</h1>
  <h4><p>Headout beta version :p</p></h4>
</header>

  <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Search</h4>
          </div>
          <div class="card-body">
            <form>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Enter city name">
  </div>
  <button type="submit" class="btn btn-primary">Explore</button>
</form>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Login</h4>
          </div>
          <div class="card-body">
            <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
<div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select one
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item">User</a>
    <a class="dropdown-item">Merchant</a>
  </div>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
           
          </div>
        </div>
      </div>
</div>
<% include partials/footer %>