<% include partials/header %>
<div class="container">
<header class="jumbotron">
  <h1>Travel Test App!!</h1>
  <h4><p>Headout beta version :p</p></h4>
</header>

  <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Register</h4>
          </div>
          <div class="card-body">
              
                <div>
              <p>New users may sign up here for free!</p>
              <p><a name="userLogin" class="btn btn-secondary" href="/userRegister" role="button">User Register</a></p>
              <hr class="accessory">
              <p>New merchants may sign up here for free!</p>
              <p><a name="merchantLogin" class="btn btn-secondary" href="/merchantRegister" role="button">Merchant Register</a></p>
            </div>
            <hr>

          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Search</h4>
          </div>
          <div class="card-body">
            <form>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Enter city name">
  </div>
  <button type="submit" class="btn btn-primary">Explore</button>
</form>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Login</h4>
          </div>
          <div class="card-body">
            
            <div>
              <p>Existing users may login through the link down here.</p>
              <p><a name="userLogin" class="btn btn-secondary" href="/userLogin" role="button">User Login</a></p>
              <hr class="accessory">
              <p>Existing merchant may login through the link down here.</p>
              <p><a name="merchantLogin" class="btn btn-secondary" href="/merchantLogin" role="button">Merchant Login</a></p>
            </div>
            <hr>
            
          </div>
        </div>
      </div>
</div>
<% include partials/footer %>